<div>
    <h1>
        productos
    </h1>
</div>

<form>
    <input type="text" name="Nombre" id="Nombre" placeholder="Nombre de producto">
    <input type="text" name="description" id="description" placeholder="description de producto">
    <input type="number" name="price" id="price" placeholder="precio">
    <input type="submit" value="send">
</form>

<div id="post">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</div>